Repository chrislopresto/chrislopresto-gatsby: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

test: Extract and test site mode reducer
  jest-preprocess.js
  jest.config.js
  package.json
  setup-jest.js
  src/components/Layout.tsx
  src/theme/SiteModeContext.tsx
  src/theme/site-mode-reducer.test.ts
  src/theme/site-mode-reducer.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

build: Update project dependencies
  package.json
  postcss.config.js
  src/index.css
  src/tailwind.js
  tailwind.config.js
  yarn.lock
Due: prettier --write

dev: Configure eslint and lint-staged
  .eslintignore
  .eslintrc
  .lintstagedrc
  gatsby-config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

dev: Commit project node-version
  .node-version
Due: none

dev: Extract huskyrc config
  .huskyrc
  package.json
Due: prettier --write

dev: Fix FontSubscriber / FontObserver usage
  @types/global.d.ts
  src/components/Hero.tsx
Due: prettier --write, eslint --max-warnings 0

fix: Address remaining eslint issues
  src/components/RevealJsSlideDeck.tsx
  src/theme/theme.ts
Due: prettier --write, eslint --max-warnings 0

feat: Add hero text shadow]
  src/components/Hero.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Make low cap o in LoPresto
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

dev: Allow synthetic default imports
  @types/rebass/index.d.ts
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/RevealJsSlideDeck.tsx
  src/components/SEO.tsx
  src/pages/index.tsx
  src/pages/presentations/hot-swapping-our-rails-front-end-in-secret.tsx
  src/pages/presentations/living-style-guide-driven-development.tsx
  src/theme/SiteModeContext.tsx
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

refactor: Separate site mode context state and dispatch
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/theme/SiteModeContext.tsx
Due: prettier --write, eslint --max-warnings 0

refactor: Move FontObserver into shared Layout
  src/components/Layout.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Tweak content. Remove rebass.
  @types/rebass/index.d.ts
  package.json
  src/index.css
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

build: Fix jest config
  __mocks__/file-mock.js
  gatsby-config.js
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

feat: Remove styled-components
  .prettierignore
  @types/tailwindcss/index.d.ts
  __mocks__/file-mock.js
  gatsby-config.js
  package.json
  postcss.config.js
  src/colors.css
  src/colors.js
  src/components/BaseStyles.tsx
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/RevealJsSlideDeck.tsx
  src/index.css
  src/pages/index.tsx
  src/pages/presentations/hot-swapping-our-rails-front-end-in-secret.tsx
  src/pages/presentations/living-style-guide-driven-development.tsx
  src/theme.css
  src/theme/styled-components.ts
  static/styles/colors.css
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

fix: Fix theme styles
  gatsby-node.js
  src/components/Layout.tsx
  src/components/SEO.tsx
  src/index.css
  src/pages/index.tsx
  src/theme.css
Due: prettier --write, eslint --max-warnings 0

style: Tweak home page
  .prettierrc
  src/index.css
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

style: Tweak home page
  .lintstagedrc
  .prettierrc
  package.json
  src/index.css
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Support mdx blog posts
  .prettierrc
  gatsby-config.js
  package.json
  src/blog.css
  src/components/BlogLayout.tsx
  src/components/Layout.tsx
  src/pages/hot-swapping.mdx
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

build: Configure PurgeCSS for blog posts
  gatsby-node.js
  src/blog.css
  src/components/BlogLayout.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Flesh out Hot Swapping Front End talk transcript
  src/blog.css
  src/components/BlogLayout.tsx
  src/components/Layout.tsx
  src/pages/hot-swapping.mdx
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Use Redux Toolkit for app state
  package.json
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/SEO.tsx
  src/rootReducer.ts
  src/store.ts
  src/theme/SiteModeContext.tsx
  src/theme/site-mode-reducer.test.ts
  src/theme/site-mode-reducer.ts
  src/theme/siteModeSlice.test.ts
  src/theme/siteModeSlice.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

fix: Fix talk description copy
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

refactor: Use named export for Hero component
  src/components/BlogLayout.tsx
  src/components/Hero.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

refactor: Tidy SEO component
  src/components/SEO.tsx
Due: prettier --write, eslint --max-warnings 0

fix: Respect className prop in Hero component
  src/components/Hero.tsx
Due: prettier --write, eslint --max-warnings 0

build: Update dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: Add Storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/Hero.stories.tsx
  src/store.storybook.tsx
  src/theme/siteModeSlice.storybook.tsx
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

feat: Add Slide Deck story
  src/components/RevealJsSlideDeck.stories.tsx
  src/components/RevealJsSlideDeck.tsx
  src/pages/index.tsx
  src/pages/presentations/hot-swapping-our-rails-front-end-in-secret.tsx
  src/pages/presentations/living-style-guide-driven-development.tsx
Due: prettier --write, eslint --max-warnings 0

refactor: DRY out layout components and add stories
  gatsby-config.js
  gatsby-node.js
  src/blog.css
  src/components/BlogContentLayout.stories.tsx
  src/components/BlogContentLayout.tsx
  src/components/BlogLayout.tsx
  src/components/Layout.tsx
  src/components/MainContentLayout.stories.tsx
  src/components/MainContentLayout.tsx
  src/layouts/BaseLayout.tsx
  src/layouts/BlogLayout.tsx
  src/layouts/MainLayout.tsx
  src/pages/index.tsx
  src/pages/presentations/hot-swapping-our-rails-front-end-in-secret.tsx
  src/pages/presentations/living-style-guide-driven-development.tsx
Due: prettier --write, eslint --max-warnings 0

refactor: Rename Hot Swapping front End transcript page
  src/pages/hot-swapping-our-rails-front-end-in-secret.mdx
Due: none

feat: Add Living Style Guide Driven Development transcript page
  src/pages/living-style-guide-driven-development.mdx
Due: none

feat: Add Signature component
  src/components/Signature.stories.tsx
  src/components/Signature.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Add hover|active|focus theme text styles
  src/index.css
Due: none

feat: Add signature to homepage
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json}
  eslint --max-warnings 0: any of: *.{ts,tsx}
