Repository chrislopresto/chrislopresto-gatsby: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

.lintstagedrc:

{
  "**/*.{ts,tsx,js,json,css}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --max-warnings 0"
  ]
}

fix: Remove lingering reference to base-styles
  src/components/base-styles/index.ts
Due: prettier --write, eslint --max-warnings 0

build: Revert project dependency upgrade
  gatsby-config.js
  package.json
  src/styles/theme.stories.tsx
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

style: Reset body margin
  src/styles/core.css
Due: prettier --write

feat: Serve storybook
  .gitignore
  package.json
  static/storybook/.gitkeep
Due: prettier --write

feat: Style images in mdx content
  src/components/blog-content-layout/blog-content-layout.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Add images to Hot Swapping transcript
  src/pages/hot-swapping-our-rails-front-end-in-secret.mdx
Due: none

feat: Add homepage content
  @types/global.d.ts
  src/components/section-layout/section-layout.tsx
  src/images/under-construction.gif
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Add Living Style Guide Driven Development images
  src/pages/living-style-guide-driven-development.mdx
Due: none

fix: Fix image types
  @types/global.d.ts
Due: prettier --write, eslint --max-warnings 0

feat: Update talk thumbnails on Thoughts page
  src/components/blog-content-layout/blog-content-layout.tsx
  src/pages/index.tsx
  src/pages/thoughts.tsx
  src/styles/index.ts
  src/utilities/index.ts
Due: prettier --write, eslint --max-warnings 0

build: Add Gatsby overrides to Storybook config
  .storybook/main.js
  .storybook/preview.js
Due: prettier --write

feat: Wire up link styles
  src/components/blog-content-layout/blog-content-layout.tsx
  src/components/nav/components/nav-panel/nav-panel.tsx
  src/components/nav/nav.tsx
  src/gatsby-plugin-theme-ui/index.ts
  src/pages/index.tsx
  src/pages/thoughts/hot-swapping-our-rails-front-end-in-secret.mdx
  src/pages/thoughts/living-style-guide-driven-development.mdx
  src/utilities/index.ts
Due: prettier --write, eslint --max-warnings 0

feat: Add about page content
  src/components/main-content-layout/main-content-layout.tsx
  src/components/section-layout/section-layout.tsx
  src/pages/about.tsx
Due: prettier --write, eslint --max-warnings 0

docs: Organize Storybook stories
  src/components/blog-content-layout/blog-content-layout.stories.tsx
  src/components/chromeless-content-layout/chromeless-content-layout.stories.tsx
  src/components/main-content-layout/main-content-layout.stories.tsx
  src/components/section-layout/section-layout.stories.tsx
  src/components/site-layout/site-layout.stories.tsx
Due: prettier --write, eslint --max-warnings 0

fix: Fix Nav component horizontal sizing
  src/components/nav/nav.tsx
  src/pages/thoughts.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Add about page content
  src/images/chris-louise-spin.jpg
  src/pages/about.tsx
Due: prettier --write, eslint --max-warnings 0

style: Rework site base styles and CSS reset
  .storybook/preview.js
  src/components/base-styles/base-styles.tsx
  src/components/base-styles/index.ts
  src/components/blog-content-layout/blog-content-layout.tsx
  src/components/chromeless-content-layout/chromeless-content-layout.tsx
  src/components/main-content-layout/main-content-layout.tsx
  src/gatsby-plugin-theme-ui/index.ts
  src/gatsby-plugin-theme-ui/theme-provider.storybook.tsx
  src/gatsby-plugin-theme-ui/theme.ts
  src/layouts/base-layout.tsx
  src/pages/thoughts.tsx
  src/styles/fonts.css
  src/styles/reset.css
Due: prettier --write, eslint --max-warnings 0

build: Remove PurgeCSS
  gatsby-node.js
  package.json
  src/styles/fonts.css
  yarn.lock
Due: prettier --write

fix: Fix resume page styles
  src/pages/resume.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Present conference talk blurbs in cards
  src/gatsby-plugin-theme-ui/theme.ts
  src/pages/thoughts.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Add conference talk pages
  src/gatsby-plugin-theme-ui/theme.ts
  src/pages/thoughts/conference-talks/hot-swapping-our-rails-front-end-in-secret/full-transcript.mdx
  src/pages/thoughts/conference-talks/hot-swapping-our-rails-front-end-in-secret/index.tsx
  src/pages/thoughts/conference-talks/hot-swapping-our-rails-front-end-in-secret/slide-deck.tsx
  src/pages/thoughts/conference-talks/index.tsx
  src/pages/thoughts/conference-talks/living-style-guide-driven-development/full-transcript.mdx
  src/pages/thoughts/conference-talks/living-style-guide-driven-development/index.tsx
  src/pages/thoughts/conference-talks/living-style-guide-driven-development/slide-deck.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Add conference talk still images
  src/gatsby-plugin-theme-ui/theme.ts
  src/images/chris-lopresto-speaking-at-ember-conf-2016.jpg
  src/images/chris-lopresto-speaking-at-rails-conf-2018.jpg
  src/pages/thoughts/conference-talks/index.tsx
  src/pages/thoughts/index.tsx
  src/styles/index.ts
Due: prettier --write, eslint --max-warnings 0

feat: Use https image URLs
  src/pages/thoughts/conference-talks/hot-swapping-our-rails-front-end-in-secret/full-transcript.mdx
  src/pages/thoughts/conference-talks/hot-swapping-our-rails-front-end-in-secret/index.tsx
  src/pages/thoughts/conference-talks/index.tsx
  src/pages/thoughts/conference-talks/living-style-guide-driven-development/full-transcript.mdx
  src/pages/thoughts/conference-talks/living-style-guide-driven-development/index.tsx
  src/pages/thoughts/index.tsx
Due: prettier --write, eslint --max-warnings 0

chore: Use node 14.17.4
  .node-version
Due: none

feat: Upgrade bio a bit
  src/pages/about.tsx
Due: prettier --write, eslint --max-warnings 0
